@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}

::-webkit-scrollbar-track {
    background-color: var(--highlight-dark);
}

::-webkit-scrollbar-thumb {
    background-color: var(--highlight);
    border-radius: 7px;
}

:root {
    --background-dark: hsl(0, 0%, 18%);
    --background-dark-2: hsl(0, 0%, 10%);
    --background-dark-bar: hsl(0, 0%, 21%);

    --highlight: hsl(59, 60%, 61%);
    --highlight-dark: hsl(0, 1%, 21%);
    --background-events-dark: hsl(0, 1%, 9%);
    --background-events-body-dark: hsl(0, 1%, 6%);
    --background-events-content-dark: hsl(0, 1%, 3%);

    --background-skins-dark: hsl(240, 2%, 13%);
    --background-skins-body-dark: hsl(240, 2%, 6%);
    --background-skins-content-dark: hsl(240, 2%, 3%);

    --text-light: #fff;

    --planner-events-width: 500px;
    --planner-events-info-width: 70%;
    --planner-skins-body-width: 120px;
    --planner-content-header: 20px;
    --planner-header: 20px;
    --planner-events-image-padding: 10px;
}
input[type="checkbox"] {
    display: none;
  }

  input[type="checkbox"] + label {
    outline: 0px dashed hsla(0, 0%, 100%, 0.25);
  }
  
body {
    font-family: 'Roboto';
    font-weight: 400;
    /* width: 999px; */
    outline: 0px dashed fuchsia;
    margin: 0 auto;
    color: var(--text-light);
    background-color: #000;
}

.planner-header {
    height: 20px;
    text-align: center;
    background: #000;
}

.planner-body {
    display: flex;
    height: calc(100vh - var(--planner-header));
}

.planner-events-content,
.planner-skins-content {
    height: calc(100% - var(--planner-content-header));
    width: 100%;
    position: relative;
    overflow-y: scroll;
}

.planner-skins-content {
    display: flex;
    flex-wrap: wrap;
    align-content: baseline;
}

.planner-events {
    width: var(--planner-events-width);
    background-color: var(--background-events-dark);
}

.planner-events-header,
.planner-skins-header {
    height: var(--planner-content-header);
    outline: 0px dashed hsla(0, 0%, 100%, 0.25);
    width: 100%;
    text-align: center;
}

.planner-events-name {
    text-align: center;
    /* background: var(--background-events-content-dark); */
    margin-top: var(--planner-events-image-padding);
}

.planner-events-body {
    margin-top: 20px;
    display: flex;
    background-color: var(--background-events-body-dark);
    outline: 1px solid var(--highlight-dark);
}
.planner-events-body:hover {
    cursor: pointer;
    background: var(--highlight-dark);
}
.event-checked {
    background: var(--highlight-dark);
}
.planner-events-info,
.planner-events-calcs {
    outline: 0px solid black;
}


.planner-events-info {
    width: var(--planner-events-info-width);
}

.planner-events-image {
    display: flex;
    padding: var(--planner-events-image-padding);
    
}

.planner-events-image img {
    max-width: 100%;
    border-radius: 7px;
}

.planner-events-calcs {
    width: calc(100% - var(--planner-events-info-width));
    padding: var(--planner-events-image-padding);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.planner-events-calcs * {
    background: none;
}

.planner-skins {
    width: calc(100% - var(--planner-events-width));
    background-color: var(--background-skins-dark);
}

.planner-skins-body {
    position: relative;
    width: var(--planner-skins-body-width);
    height: fit-content;
    margin: 15px 0 0 15px;
    background-color: var(--background-events-body-dark);
    outline: 2px solid var(--highlight-dark);
    border-radius: 7px;
}
.planner-skins-body:hover {
    cursor: pointer;
    scale: 1.05;
}

.planner-skins-image,
.planner-skins-model,
.planner-skins-price {
    outline: 0px solid black;
}

.planner-skins-image {
    display: flex;
}

.planner-skins-image img {
    max-width: 100%;
}

.planner-skins-model {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 0);
    background-color: var(--background-events-content-dark);
    padding: 2px 5px;
}

.planner-skins-price {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, 0);
    background-color: var(--background-events-content-dark);
    padding: 2px 5px;
}
.checked {
    outline: 2px solid var(--highlight);
}

.display-none {
    display: none;
}